* {box-sizing: border-box;}

body{
    font-family: sans-serif;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 600px;
    background-color: #f4f4f4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem;

    padding: 1rem;
}

h3{
    text-align: center;
}

.imgbox{
    width: 100%;
    margin-left: 30px;
}

label img{
    width: 250px;
    height: 200px;
}

.btn{
    width: 100%;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    background-color: steelblue;
    border: none;
  
    cursor: pointer;
    padding: 12px;
}

.btn:hover{
    background-color: darkblue;
}

.answer:checked + label img{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
}